<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body style="text-align:center;font-family:'Helvetica-Neue','Helvetica',Sans-serif;margin:2em">
    <h2 style="font-weight:100;font-size:32px">Welcome to KevinBot</h2>
    <p style="font-weight:normal;font-size:14px">Automated information about Kevin Oleary.</p>
    <p style="font-weight:normal;font-size:14px">Open the chat window below to talk to KevinBot.</p>
</body>
</html>
